---
const { title, items } = Astro.props;
---

<div class="p-4">
  <h3 class="text-sm mb-2 text-gray-400 dark:text-gray-400">
    {title}
  </h3>{
    Object(items).map((el) => (
      <p class="text-sm sm:text-xl dark:text-gray-50">{el}</p>
    ))
  }
</div>
