@import 'tailwindcss';

@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avara';
  src: url('/fonts/Avara-Bold.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avara';
  src: url('/fonts/Avara-BlodItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Avara';
  src: url('/fonts/Avara-Black.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-satoshi: Satoshi, sans-serif;
  --font-avara: Avara, sans-serif;

  --font-sans:
    Satoshi, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --color-gray-50: oklch(0.9892 0.0053 286.3);
  --color-gray-100: oklch(0.959 0.004 286.32);
  --color-gray-200: oklch(0.9042 0.0027 286.35);

  --color-gray-300: oklch(0.8147 0.0028 286.34);
  --color-gray-400: oklch(0.6999 0.0029 286.33);
  --color-gray-500: oklch(0.4538 0.0032 286.27);

  --color-gray-600: oklch(0.3722 0.0034 286.23);
  --color-gray-700: oklch(0.2825 0.0073 285.93);
  --color-gray-800: oklch(0.1975 0.008 285.65);
  --color-gray-900: oklch(0.1297 0.005 285.67);
}

html {
  scroll-behavior: smooth;
}

.paragraph {
  text-wrap: balance;
  orphans: 2;
  widows: 3;
  hyphens: auto;
  overflow-wrap: break-word;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Durations */
.animation-duration-1 {
  animation-duration: 1s;
}
.animation-duration-2 {
  animation-duration: 2s;
}
.animation-duration-3 {
  animation-duration: 3s;
}
.animation-duration-4 {
  animation-duration: 4s;
}

/* Delays (en 100ms increments) */
.animation-delay-1 {
  animation-delay: 100ms;
}
.animation-delay-2 {
  animation-delay: 200ms;
}
.animation-delay-4 {
  animation-delay: 400ms;
}
.animation-delay-5 {
  animation-delay: 500ms;
}
.animation-delay-6 {
  animation-delay: 600ms;
}

.animation-delay-8 {
  animation-delay: 800ms;
}

/* Classe de base pour l'animation */
.fade-in {
  animation-name: fadeIn;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
