@import "tailwindcss";

@font-face {
	font-family: "Satoshi";
	src: url("/fonts/Satoshi-Variable.ttf") format("truetype");
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--font-satoshi: Satoshi, sans-serif;

	--font-sans:
		Satoshi, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

	--color-gray-900: oklch(0.1297 0.005 285.67);
	--color-gray-800: oklch(0.1975 0.008 285.65);
	--color-gray-700: oklch(0.278 0.0055 286.04);
	--color-gray-600: oklch(0.3251 0.0176 285.38);
}
.paragraph {
	text-wrap: balance;
	orphans: 2;
	widows: 3;
	hyphens: auto;
	overflow-wrap: break-word;
}
