---
import Layout from "@components/Layout.astro";
---

<Layout pageTitle="Malo Germond - Designer Produit" class="grid grid-cols-12 m-6 gap-2">
<article class="flex-row p-4">
	<p>Malo Germond</p>
	<p class="">Product Designer</p>
	<p class="text-gray-500">Marseille - Full Remote</p>
	<p class="text-lg">
		La complexité coûte cher.  Je la transforme en simplicité qui rapporte.
	</p>
</article>

<article class="flex-row p-4">
	<a href="https://dribbble.com/maloo/">Dribbble</a>
	<a href="https://www.linkedin.com/in/malogermond/">Linkedin</a>
</article>

</Layout>
