---
import '@styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<article class="flex-row">
			<p>Malo Germond</p>
		<p>Product Designer</p>
		<p class="text-gray-500">Marseille - Full Remote</p>
		<p class="text-xl">La complexité coûte cher.  Je la transforme en simplicité qui rapporte.</p>
		</article>
	</body>
</html>
