---
import Card from '@components/Card.astro';
import Action from '@components/Action.astro';

const { content } = Astro.props;

---

<Card style="accent" class="relative flex items-center p-8 gap-4 grow-1 overflow-hidden">
  <div id="lightRef" class="dark:bg-blue-700 bg-blue-300 dark:opacity-20  "></div>
  <h2
    class="text-center content-center flex-auto text-xl font-bold dark:text-slate-50 transition-all z-1 select-none"
  >
    {content.contact.title}
  </h2>
  <p
    class="paragraph text-center content-center flex-auto text-lg font-light text-gray-800 dark:text-gray-200 transition-all z-1 select-none"
  >
    {content.contact.description}
  </p>

  <Action
    label={content.contact.button.text}
    id="Calendly"
    role="primary"
    size="large"
    externalLink="true"
    class="z-1"
    link={content.contact.button.url}
  />
  
</Card>

<script>
  import { gsap } from "gsap";

  document.addEventListener("DOMContentLoaded", () => {
    const circle = document.querySelector("#lightRef");

    document.addEventListener("mousemove", (e) => {
      const rect = circle.getBoundingClientRect();
      gsap.to(circle, {
        x: e.pageX-rect.left,
        y: e.pageY-rect.top,
        duration: 0.6,
        ease: "sine",
      });

      gsap.fromTo(circle, {
        scale:0.8,
      },{
        scale:1.5,
        duration:3,
        repeat:-1,
        yoyo: true,
        ease: "power1.inOut"
      })
    });
  });
</script>


<style>
  #lightRef {
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    filter: blur(50px);
  }
</style>