---
import Card from '@components/Card.astro';
import { Image } from 'astro:assets';
import Paragraph from '@components/Paragraph.astro';
import Icons from '@components/Icons.astro'
---

<Card
  class="group relative flex min-h-[30rem] grow-2 overflow-hidden"
  padding="0"
  id="cardContainer"
>
<div class="absolute bottom-0 left-0 flex flex-col p-8">
      <Paragraph
        class="font-avara opacity-100 text-2xl text-gray-50 transition-all group-hover:translate-y-[20px] group-hover:opacity-0 group-hover:duration-800 group-hover:delay-100 ease-out"
        content="Démocratiser l’astronomie en atténuant  les principaux freins à l’usages"
      />
      <div
        class="h-[0.1px] w-1/2 my-4 bg-gray-400 group-hover:translate-y-[20px] transition-all group-hover:opacity-0 group-hover:duration-800 group-hover:delay-100 ease-out"
      >
      </div>

      <div
        class="flex flex-row w-fit px-3 py-1 text-sm text-blue-100 border border-blue-700 bg-blue-900 group-hover:translate-y-[20px] group-hover:opacity-0 group-hover:duration-800 ease-out"
      >
        UX
      </div>
    </div>
    <div class="group-hover:opacity-100 opacity-0 group-hover:translate-y-0 translate-y-8 absolute right-4 bottom-4 transition-all duration-700 flex flex-row items-center">
      <p class="text-blue-200 italic h-full px-4 h-full">See Use case</p>
    <div class="text-gray-50 bg-blue-600 border-blue-500 p-4 rounded-full w-fit border border-2 "><Icons name="external" size="16"/></div>
    </div>
</Card>
