---
import ThemeSwitcher from '@components/ThemeSwitcher.jsx';
import LanguageSwitcher from '@components/LanguageSwitcher.astro';
import Action from '@components/Action.astro';

const { slug, lang } = Astro.props;
---

<header
  class="fixed top-0 left-1/2 -translate-x-1/2 w-full flex z-10 max-w-2xl"
>
  <div
    class="w-full my-4 mx-4 p-2 flex flex-row items-center justify-between rounded-full border-1 border-gray-400/50 dark:border-gray-700 gap-2 z-10 bg-gray-100/10 dark:bg-gray-900/20 backdrop-blur-sm"
  >
    <div class="flex lex-row">
      <Action label="Home" lang={lang}/>
    </div>
    <div class="flex flex-row gap-4">
      <LanguageSwitcher slug={slug}/>
      <ThemeSwitcher client:load />
    </div>
  </div>
</header>

