---
const {href:path, label} = Astro.props
---

<a href={path} target="_blank" rel="noopener noreferrer" class="border rounded-sm border-gray-300 p-2 transition bg-gray-100 hover:bg-gray-200">{label}</a>