---
import Icons from "@components/Icons.astro";

const { label, icon } = Astro.props;
---

<div
	class="group flex flex-col h-32 bg-gray-100 dark:bg-gray-700 w-full max-w-24 rounded-md items-center px-8 py-4 hover:bg-blue-200 hover:dark:bg-blue-800 transition-all"
>
	<Icons
		name={icon}
		size="2.5rem"
		class="h-full text-slate-900 dark:text-slate-100 group-hover:scale-150 group-hover:rotate-360 group-hover:text-blue-500 transition-all duration-[1.5s]"
	/>
	<p class="font-medium text-xs select-none text-slate-700 dark:text-slate-300">
		{label}
	</p>
</div>
